<%= render 'shared/errors', obj: @ticket %>

<%= form_for @ticket do |f| %>
  <div class="form-group">
    <%= f.label :project_id, 'Project' %>
    <%= f.select :project_id, Project.all.map { |project| [project.name, project.id] }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group">
    <% status_arr = %w(new blocked in_progress fixed) %>
    <%= f.label :status %>
    <%= f.select :status, status_arr, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :assignee_id, 'Assigned To' %>
    <%= f.select :assignee_id, User.all.map { |user| [user.name, user.id] }, class: "form-control" %>
  </div>
  <% if Tag.all.present? %>
    <div class="form-group">
      <%= f.label :tag_ids, "Tags" %>
      <%= f.select :tag_ids, Tag.all.map { |tag| [tag.name, tag.id] }, {}, multiple: true, class: "form-control" %>
    </div>
  <% else %>
    <p>
      <em>No tags exist yet!</em>
    </p>
  <% end %>
  <%= f.submit (@ticket.new_record? ? "Create Ticket" : "Update Ticket"), class: "btn btn-success" %>
<% end %>
