<%= render 'shared/errors', obj: @tag %>

<%= form_for @tag do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.submit (@tag.new_record? ? "Create Tag" : "Update Tag"), class: "btn btn-success" %>
<% end %>
